.topbar {
    background: radial-gradient(white, lightblue);
    height: 50px;
    text-align: center;
}
.title {
    font-style: italic;
    font-family: cursive;
    margin: 0px;
    padding: 5px;
    font-size: x-large;
}
